{{! This is the post loop - each post will be output using this markup }}

<div class="container" >
     <div class="row" style="margin-top:50px;margin-bottom:50px">
        {{#foreach posts}}
            <div class="col-md-4" >
                <div class="blog-card">
                    <img class="img-fluid" src="{{feature_image}}" alt="">
                    <h2>{{title}}</h2>
                    <div>
                        <i class="fa fa-calendar-o" aria-hidden="true"></i>
                        <time class="post-date" datetime="{{date format='YYYY-MMM-DD'}}">{{date format="DD MMM YYYY"}}</time>
                    </div>
                    <p>{{excerpt words="40"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
                    <div>
                        {{#if author.profile_image}}<img class="img-fuild rounded-circle" style="width:50px;height:50px;" src="{{author.profile_image}}" alt="{{author.name}}" nopin="nopin" />{{/if}}
                        {{author}}
                        {{tags prefix=" on "}}
                    </div>
                </div>
            </div>
        {{/foreach}}
    </div>
</div>

{{! Previous/next page links - only displayed on page 2+ }}
<div class="extra-pagination inner">
    {{pagination}}
</div>

{{! Previous/next page links - displayed on every page }}
{{pagination}}
