{{! This is the post loop - each post will be output using this markup }}

<div class="container" style="padding-left:5%;padding-right:5%;">
     <div class="row" style="margin-top:50px;margin-bottom:50px">
        {{#foreach posts}}
            <div class="col-md-12">
                <div class="blog-card-container">
                    <div class="blog-card">

                        
                        <div class="row">
                            <div class="col-md-4">
                                {{#if feature_image}}
                                    <img class="img-thumbnail" src="{{feature_image}}" alt="">
                                {{else}}
                                    <img class="img-thumbnail" src="{{asset "img/dummy-image.jpg"}}" />
                                {{/if}}

                                
                            </div>
                            <div class="col-md-8">
                                <a href="{{url}}" style="text-decoration:none;">
                                    <h2>{{title}}</h2>
                                    <p>{{excerpt words="50"}} ... </p>
                                </a>
                                <div class="time-post">
                                    <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                    <time class="post-date" datetime="{{date format='YYYY-MMM-DD'}}">{{date format="DD MMM YYYY h:mm A"}}</time>
                                </div>
                                <div class="tags">
                                    {{#foreach tags}} 
                                        <a href="{{url}}">{{name}}</a>
                                    {{/foreach}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/foreach}}
    </div>
</div>

{{pagination}}


