{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}

<!-- Header -->
<header class="masthead {{#if @blog.cover_image}}" style="background-image: url({{@blog.cover_image}}){{else}}no-cover{{/if}}" >
    <div class="container">
    <div class="intro-text">
         {{#if @blog.logo}}
            <div class="profile-photo">
                <img class="mx-auto rounded-circle" src="{{@blog.logo}}" alt="{{@blog.title}}">
            </div>
         {{/if}}
        <div class="intro-heading">{{@blog.title}}</div>
        <div class="intro-lead-in">{{@blog.description}}</div>  
        {{> "social_link"}}
    </div>
    </div>
</header>

{{! The main content area on the homepage }}
<main id="content" role="main">

    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}

</main>


