{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}

{{#post}}

<section id="single-post">
    
    {{#if feature_image}}
        <div class="container">
            <img class=".img-responsive feature-image" src={{feature_image}} alt="" />
        </div>
    {{/if}}

    <h2>{{title}}</h2>
    {{content}}
    {{> "social_share"}}

    <div class="row">
        <div class="col-md-12">
            {{author}}
        </div>
    </div>

    <footer class="post-footer"></footer>
    
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {{#next_post}}
                <a class="read-next-story {{#if feature_image}}" style="background-image: url({{feature_image}}){{else}}no-cover{{/if}}" href="{{url}}">
                    <h2>{{title}}</h2>
                    <p>{{excerpt words="19"}}&hellip;</p>
                </a>
                {{/next_post}}
            </div>

            <div class="col-md-6">
                {{#prev_post}}
                    <a class="read-next-story prev {{#if feature_image}}" style="background-image: url({{feature_image}}){{else}}no-cover{{/if}}" href="{{url}}">
                        <h2>{{title}}</h2>
                        <p>{{excerpt words="19"}}&hellip;</p>
                    </a>
                {{/prev_post}}
            </div>
        </div>
    </div>

    <div class="post-comments">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
        // required: replace example with your forum shortname
        if(disqus_shortname && typeof disqus_shortname === "string") {
            var disqus_identifier = '{{post.id}}';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        }
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>

</section>

{{/post}}
